@media (max-width:1400px) {
  body {
    margin: 0 auto;
  }
  .container {
    max-width: 1400px;
  }
  .title-one {
    top: 3%;
    left: 41%;
    font-size: 80px;
  }
  .box__all {
    width: 18.5%;
    height: 150px;
   
  }
}