@media (max-width:440px) {
  body {
    margin: 0 auto;  
   
  }

  .container {
    max-width: 440px;
    min-height: 300px;
  }

  .title-one {
    top: 9%;
    left: 39%;
    font-size: 30px;
  }

  .container-img {
    max-width: 15%;
    border-radius: 50%;
    cursor: pointer;
    transition: .9s;
    border: 2px solid yellow;
  }
  .box__all {
    width: 100%;
    height: 200px;    
  }
  
}