html {
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: 'Montserrat', sans-serif;

}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.content {
  max-width: 1800px;
  padding: 15px;
  margin: 0 auto;
}

/*container*/
.container {
  position: relative;
  aspect-ratio: 5/3;
  margin: 0 auto;
  background-image: url(../img/img-zolotoe-kolso.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.turist {
  width: 200px;
  transform: scaleX(-1);
  position: relative;
  top: 74%;
  left: 22%;
  z-index: 10;
  animation: turist 40s 2s ;
}

@keyframes turist {
  0% {}

  2% {
    top: 56%;
    left: 30%;
    transform: scaleX(-1);
  }
  3% {
    top: 56%;
    left: 30%;
    transform: scaleX(1);
  }
  9% {
    top: 56%;
    left: 30%;
    transform: scaleX(1);
  }

  10% {
    top: 56%;
    left: 30%;
    transform: scaleX(-1);
  }

  12% {
    top: 42%;
    left: 38%;
    transform: scaleX(-1);
  }
  13% {
    top: 42%;
    left: 38%;
    transform: scaleX(1);
  }
  19% {
    top: 42%;
    left: 38%;
    transform: scaleX(1);
  }

  20% {
    top: 42%;
    left: 38%;
    transform: scaleX(-1);
  }

  27% {
    top: 25%;
    left: 45%;
    transform: scaleX(-1);
  }

  30% {
    top: 25%;
    left: 45%;
    transform: scaleX(1)
  }

  35% {
    top: 19%;
    left: 35%;
    transform: scaleX(1)
  }

  37% {
    top: 13%;
    left: 32%;
    transform: scaleX(1);
  }

  40% {
    top: 13%;
    left: 32%;
    transform: scaleX(-1);
  }

  45% {
    top: 5%;
    left: 38%;
    transform: scaleX(-1);
  }

  47% {
    top: 9%;
    left: 50%;
    transform: scaleX(-1);
  }

  50% {
    top: 9%;
    left: 50%;
    transform: scaleX(-1);
  }

  55% {
    top: 12%;
    left: 55%;
    transform: scaleX(-1);
  }

  57% {
    top: 4%;
    left: 62%;
    transform: scaleX(-1);
  }

  60% {
    top: 4%;
    left: 62%;
    transform: scaleX(1);
  }

  62% {
    top: 17%;
    left: 67%;
    transform: scaleX(1);
  }

  63% {
    top: 32%;
    left: 64%;
    transform: scaleX(-1);
  }
  69% {
    top: 32%;
    left: 64%;
    transform: scaleX(-1);
  }

  70% {
    top: 32%;
    left: 64%;
    transform: scaleX(1);
  }

  72% {
    top: 53%;
    left: 57%;
    transform: scaleX(1);
  }
  73% {
    top: 53%;
    left: 57%;
    transform: scaleX(-1);
  }
  79% {
    top: 53%;
    left: 57%;
    transform: scaleX(-1);
  }

  80% {
    top: 53%;
    left: 57%;
    transform: scaleX(1);
  }

  87% {
    top: 63%;
    left: 57%;
    transform: scaleX(1);
  }

  90% {
    top: 63%;
    left: 57%;
    transform: scaleX(1);
  }

  95% {
    top: 77%;
    left: 32%;
    transform: scaleX(1);
  }

  97% {
    top: 74%;
    left: 22%;
    transform: scaleX(1);
  }

  100% {
    top: 74%;
    left: 22%;
    transform: scaleX(-1);
  }
}

.title-one {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 12%;
  left: 47%;
  font-size: 80px;
  color: tomato;
  text-shadow: 3px 3px 7px yellow;
  z-index: 2;
  animation: title-one 3s 8 2s;
  animation-fill-mode: forwards;
}

@keyframes title-one {
  0% {}

  50% {
    scale: 1.2;
    color: rgb(223, 82, 57);
  }

  100% {}
}

.container-img {
  max-width: 10%;
  border-radius: 50%;
  cursor: pointer;
  transition: .9s;
  border: 4px solid yellow;
  transition: all .5s;
}

.container-img:hover {
  scale: 1.5;
}

.tippy-box {
  background-color: tomato;
  color: yellow;
  font-size: 25px;
  border-radius: 20px;
  padding: 5px;
  border: 3px solid yellow;
  box-shadow: 5px 5px 10px rgb(72, 218, 28);
  transition: all 2.3s;
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
  border-top-color: tomato;

}

.container-img__posad {
  position: absolute;
  top: 56%;
  left: 24%;
  animation: container-img__posad 2s 4s ;
}

@keyframes container-img__posad {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__pereslavl {
  position: absolute;
  top: 44%;
  left: 31%;
  animation: container-img__pereslavl 2s 8s ;
}

@keyframes container-img__pereslavl {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__rostov {
  position: absolute;
  top: 30%;
  left: 38%;
  animation: container-img__rostov 2s 13s ;
}

@keyframes container-img__rostov {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__uglich {
  position: absolute;
  top: 15%;
  left: 26%;
  animation: container-img__uglich 2s 16s ;
}

@keyframes container-img__uglich {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__yaroslavl {
  position: absolute;
  top: 4%;
  left: 52%;
  animation: container-img__yaroslavl 2s 20s ;
}

@keyframes container-img__yaroslavl {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__kostroma {
  position: absolute;
  top: 6%;
  left: 70%;
  animation:container-img__kostroma 2s 24s  ;
}
@keyframes container-img__kostroma {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}


.container-img__ivanovo {
  position: absolute;
  top: 35%;
  left: 71%;
  animation:container-img__ivanovo 2s 28s ;
}
@keyframes container-img__ivanovo {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__suzdal {
  position: absolute;
  top: 56%;
  left: 65%;
  animation: container-img__suzdal 2s 32s ;
}
@keyframes container-img__suzdal {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}
.container-img__vladimir {
  position: absolute;
  top: 76%;
  left: 60%;
  animation:container-img__vladimir 2s 36s  ;
}
@keyframes container-img__vladimir {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.container-img__moscow {
  position: absolute;
  top: 76%;
  left: 18%;
  animation: container-img__moscow 2s ;
}

@keyframes container-img__moscow {
  0% {}

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

/*Box*/
.box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1800px;
  min-height: 200px;
  gap: 20px;
  justify-content: center;
}

.box__all {
  width: 17%;

  opacity: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 4px solid yellow;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
  aspect-ratio: 5/3;
}

.box__1 {
  background-image: url(../img/img-moscow.jpg);
  animation: box__1 3s;
  animation-fill-mode: forwards;
}

@keyframes box__1 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__2 {
  background-image: url(../img/img-sergiev-posad-1.JPG);
  animation: box__2 3s .5s;
  animation-fill-mode: forwards;
}

@keyframes box__2 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__3 {
  background-image: url(../img/img-pereslavl-zaleskiy.JPG);
  animation: box__3 3s 1s;
  animation-fill-mode: forwards;
}

@keyframes box__3 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__4 {
  background-image: url(../img/img-rostov-velikiy.JPG);
  animation: box__4 3s 1.5s;
  animation-fill-mode: forwards;
}

@keyframes box__4 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__5 {
  background-image: url(../img/img-uglich.jpg);
  animation: box__5 3s 2s;
  animation-fill-mode: forwards;
}

@keyframes box__5 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__6 {
  background-image: url(../img/img-yaroslavl.JPG);
  animation: box__6 3s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes box__6 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__7 {
  background-image: url(../img/img-kostroma.jpg);
  animation: box__7 3s 3s;
  animation-fill-mode: forwards;
}

@keyframes box__7 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__8 {
  background-image: url(../img/img-ivanovo.jpg);
  animation: box__8 3s 3.5s;
  animation-fill-mode: forwards;
}

@keyframes box__8 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__9 {
  background-image: url(../img/img-suzdal.jpg);
  animation: box__9 3s 4s;
  animation-fill-mode: forwards;
}

@keyframes box__9 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__10 {
  background-image: url(../img/img-vladimir.jpg);
  animation: box__10 3s 4.5s;
  animation-fill-mode: forwards;
}

@keyframes box__10 {
  0% {}

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.box__all:hover {
  scale: 1.1;
  z-index: 2;

}

.box__title {
  color: tomato;
  font-size: 150%;
}