@media (max-width:440px) {
 
  .title-one {
    top: 7%;
    left: 40%;
    font-size: 140%;
  }

  .container-img {
    max-width: 15%;
    border-radius: 50%;
    cursor: pointer;
    transition: .9s;
    border: 2px solid yellow;
  }
  .box__all {
    width: 90%;
  }
  
}