html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(252, 246, 246);
}


*,
* ::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1800px;
  min-height: 1000px;
  margin: 0 auto;


}

.title-h1 {
  font-size: 100px;
  color: rgb(235, 133, 133);
  margin: 0;
}

.title__h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin: 70px 0;
}

.title__h3 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin: 70px 0;
}

/*header*/
.header {
  min-height: 600px;
  background-image: url(../img/img-vladimir-panorama.PNG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50px;
}

.header__top {
  display: flex;
  padding-left: 100px;
  padding-top: 20px;
  gap: 400px;
}

.header-gerb {
  max-width: 10%;

}

.header-gerb_img {
  border-radius: 10%;
}

.header__nav {
  padding-top: 12%;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.menu__item {
  position: relative;
}

.menu__button {
  position: relative;
  background-color: rgb(231, 224, 224);
  border: none;
  border-radius: 10px;
  padding: 15px;
  padding-right: 30px;
  color: tomato;
  font-size: 25px;
  transition: background-color .2s, color .2;
  cursor: pointer;
  z-index: 2;
}

.menu__button:hover {
  background-color: rgba(255, 255, 255, .5);
  color: brown;
}

.menu__button:active {
  background-color: rgba(143, 138, 138, 0.9);
  color: rgb(30, 185, 30);
}

.menu__button:after {
  content: "";
  position: absolute;
  display: block;
  border: solid tomato;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: 12px;
  top: 20px;
  transition: transform .2s;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgb(231, 224, 224);
  position: absolute;
  min-width: 150px;
  transform: translatey(-100px) scale(0.6);
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s, opacity .2s, transform .2s;
  z-index: 1;
}

.menu__item.menu__item_open .menu__button:after {
  transform: rotate(-135deg);
}

.menu__item.menu__item_open .dropdown-menu {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  border-radius: 10px;
}

.dropdown-menu__link {
  display: block;
  padding: 15px 20px;
  color: tomato;
  font-size: 25px;
  transition: background-color .2s, color .2s;
}

.dropdown-menu__link:hover {
  background-color: rgba(255, 255, 255, .5);
  color: brown;
}

.dropdown-menu__link:active {
  background-color: rgba(143, 138, 138, 0.9);
  color: rgb(30, 185, 30);
}



/*history*/
.history__desc {
  max-width: 1500px;
  margin: 0 auto;
}

.history__text {
  line-height: 52px;
  font-size: 30px;
}

.history__box_top,
.history__foto_sssr-top,
.history__vladimir_today-top,
.temples-vladimir__box_top,
.pushkin-park__box_top,
.bogolubovo__box_top {
  max-width: 1780px;
  min-height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  margin-bottom: 70px;
  transition: .7s;
  cursor: pointer;
}

.history__box_top:hover,
.history__foto_sssr-top:hover,
.history__vladimir_today-top:hover,
.temples-vladimir__box_top:hover,
.pushkin-park__box_top:hover,
.bogolubovo__box_top:hover {
  scale: 1.2;
}

.history__box_bottom,
.history__foto_sssr-bottom,
.history__vladimir_today-bottom,
.temples-vladimir__box-bottom,
.pushkin-park__box-bottom,
.bogolubovo__box-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  max-width: 1780px;
  min-height: 200px;

}

.history__box_all,
.history__vladimir_today-all,
.history__foto_sssr-all,
.temples-vladimir__box-all,
.temples-vladimir__box_desc,
.pushkin-park__box-all,
.pushkin-park__box_desc,
.bogolubovo__box-all,
.bogolubovo__box_desc {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: .7s;
  cursor: pointer;
}

.history__box_all:hover,
.history__vladimir_today-all:hover,
.history__foto_sssr-all:hover,
.temples-vladimir__box_desc:hover,
.pushkin-park__box_desc:hover,
.bogolubovo__box_desc:hover {
  scale: 1.2;
}

.history__box_top {
  background-image: url(../img/old-foto/img-old-1.PNG);
}

.history__box_1 {
  background-image: url(../img/old-foto/img-old-2.PNG);

}

.history__box_2 {
  background-image: url(../img/old-foto/img-old-3.PNG)
}

.history__box_3 {
  background-image: url(../img/old-foto/img-old-4.PNG);

}

.history__box_4 {
  background-image: url(../img/old-foto/img-old-5.png);

}

.history__box_5 {
  background-image: url(../img/old-foto/img-old-6.png);

}

.history__box_6 {
  background-image: url(../img/old-foto/img-old-7.png);

}

.history__box_7 {
  background-image: url(../img/old-foto/img-old-8.png);

}

.history__box_8 {
  background-image: url(../img/old-foto/img-old-9.png);

}

.history__foto_sssr-top {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-1.PNG);
}

.history__foto_sssr-1 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-2.PNG);

}

.history__foto_sssr-2 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-3.PNG);

}

.history__foto_sssr-3 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-4.PNG);

}

.history__foto_sssr-4 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-5.PNG);

}

.history__foto_sssr-5 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-6.PNG);

}

.history__foto_sssr-6 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-7.PNG);

}

.history__foto_sssr-7 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-8.PNG);

}

.history__foto_sssr-8 {
  background-image: url(../img/vladimir-sssr/img-vladimir-sssr-9.PNG);

}

.history__vladimir_today-top {
  background-image: url(../img/vladimir-today/img-vladimir-today-1.PNG);
}

.history__vladimir_today-1 {
  background-image: url(../img/vladimir-today/img-vladimir-today-2.png);

}

.history__vladimir_today-2 {
  background-image: url(../img/vladimir-today/img-vladimir-today-3.png);

}

.history__vladimir_today-3 {
  background-image: url(../img/vladimir-today/img-vladimir-today-4.png);

}

.history__vladimir_today-4 {
  background-image: url(../img/vladimir-today/img-vladimir-today-5.png);

}

.history__vladimir_today-5 {
  background-image: url(../img/vladimir-today/img-vladimir-today-6.png);

}

.history__vladimir_today-6 {
  background-image: url(../img/vladimir-today/img-vladimir-today-7.png);

}

.history__vladimir_today-7 {
  background-image: url(../img/vladimir-today/img-vladimir-today-8.png);

}

.history__vladimir_today-8 {
  background-image: url(../img/vladimir-today/img-vladimir-today-9.png);

}

/*attractions*/

.attractions {
  margin-bottom: 100px;
}

/*temples-vladimir*/
.temples-vladimir__box_top {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-1.png)
}

.temples-vladimir__box-desc {
  display: block;
}

.temples-vladimir__box-1 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-2.png);

}

.temples-vladimir__box-2 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-3.png);
}

.temples-vladimir__box-3 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-4.png);
}

.temples-vladimir__box-4 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-5.png);
}

.temples-vladimir__box-5 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-6.png);
}

.temples-vladimir__box-6 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-7.png);
}

.temples-vladimir__box-7 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-8.png);
}

.temples-vladimir__box-8 {
  background-image: url(../img/temples-vladimir/img-temples-vladimir-9.png);
}

.temples-vladimir__box_text,
.skit__box_text {
  position: relative;
  font-size: 20px;
  z-index: 2;
}

/*pushkin-park*/
.pushkin-park__box_top {
  background-image: url(../img/pushkin-park/img-pushkin-park-1.PNG);
}

.pushkin-park__box-desc {
  display: block;
}

.pushkin-park__box-1 {
  background-image: url(../img/pushkin-park/img-pushkin-park-2.PNG);

}

.pushkin-park__box-2 {
  background-image: url(../img/pushkin-park/img-pushkin-park-3.PNG)
}

.pushkin-park__box-3 {
  background-image: url(../img/pushkin-park/img-pushkin-park-4.PNG);

}

.pushkin-park__box-4 {
  background-image: url(../img/pushkin-park/img-pushkin-park-5.PNG)
}

.pushkin-park__box-5 {
  background-image: url(../img/pushkin-park/img-pushkin-park-6.PNG)
}

.pushkin-park__box-6 {
  background-image: url(../img/pushkin-park/img-pushkin-park-7.PNG)
}

.pushkin-park__box-7 {
  background-image: url(../img/pushkin-park/img-pushkin-park-8.PNG)
}

.pushkin-park__box-8 {
  background-image: url(../img/pushkin-park/img-pushkin-park-9.PNG)
}

/*bogolubovo*/

.bogolubovo__box_top {
  background-image: url(../img/bogolubovo/img-bogolubovo-1.PNG);
}

.bogolubovo__box-desc {
  display: block;
}

.bogolubovo__box-1 {
  background-image: url(../img/bogolubovo/img-bogolubovo-2.PNG);

}

.bogolubovo__box-2 {
  background-image: url(../img/bogolubovo/img-bogolubovo-3.PNG);

}

.bogolubovo__box-3 {
  background-image: url(../img/bogolubovo/img-bogolubovo-4.PNG);

}

.bogolubovo__box-4 {
  background-image: url(../img/bogolubovo/img-bogolubovo-5.PNG);

}

.bogolubovo__box-5 {
  background-image: url(../img/bogolubovo/img-bogolubovo-6.PNG);

}

.bogolubovo__box-6 {
  background-image: url(../img/bogolubovo/img-bogolubovo-7.PNG);

}

.bogolubovo__box-7 {
  background-image: url(../img/bogolubovo/img-bogolubovo-8.PNG);

}

.bogolubovo__box-8 {
  background-image: url(../img/bogolubovo/img-bogolubovo-9.PNG);

}

/*footer*/

.footer {
  display: flex;
  justify-content: space-around;
  max-width: 1780px;
  min-height: 150px;
  background-color: grey;
  border-radius: 20px;
}

.footer__logo,
.footer__desc,
.footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo_img {
  width: 70px;
  border-radius: 50%;
}

.footer__icon_box {
  display: flex;
  gap: 50px;
}

.footer__icon_email,
.footer__icon_ok,
.footer__icon_vk,
.footer__icon_whatsapp {
  transition: .4s;
}

.footer__icon_email:hover,
.footer__icon_ok:hover,
.footer__icon_vk:hover,
.footer__icon_whatsapp:hover {
  scale: 1.3;

}

.footer__svg-one,
.footer__svg-two,
.footer__svg-three,
.footer__svg-four {
  transition: .4s;
}

.footer__svg-one:hover,
.footer__svg-two:hover,
.footer__svg-three:hover,
.footer__svg-four:hover {
  fill: rgb(60, 117, 2);
}